<div class="d-flex form-container justify-content-center align-content-center">
  <div class="income-container">
    <div class="text-center">
      <h2>Add Expense</h2>
    </div>
    <form [formGroup]="expenseForm">
      <div class="mb-3">
        <app-input-component name="title" type = "text" [control]="title" placeholder = "title"></app-input-component>
      </div>
      <div class="d-flex justify-content-center">
        <div class="mb-3 d-flex gap-3">
          <div>
            <app-input-component name="amount" [control]="amount" type="number" placeholder="amount"></app-input-component>
          </div>
          <div class="d-flex gap-3 align-content-center">
            <select [formControl]="category" class="bg-white form-control" name="category" id="category">
              <!--<option style="color: #d8d2d2" disabled selected value= 0 >Categories</option>-->
              <option value=7 selected>Education</option>
              <option value= 8>Groceries</option>
              <option value= 9>Health</option>
              <option value= 10>Subscriptions</option>
              <option value= 11>Takeaways</option>
              <option value= 12>Clothing</option>
              <option value= 13>Travelling</option>
              <option value= 15>Other</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <app-input-component type="date" name="date" [control]="date"></app-input-component>
      </div>
      <div class="mb-3">
        <textarea [formControl]="comments" placeholder="Comments..." class="form-control"
                  name="txtComment" id="txtComment" cols="30" rows="2"></textarea>
      </div>
      <div class="d-flex justify-content-center">
        <button [disabled]="expenseForm.invalid" (click)="addTransaction()"
                type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="incomeList-Container mt-4">
  <h1 class="heading-history text-center">Expense History</h1>
  <div class="container summary-container" style="overflow: auto;">
    <div class="row">
      <app-transaction-list [transactions]="expenseList"></app-transaction-list>
    </div>
  </div>
</div>

