<div class="position-relative">
  <div [ngClass]="{'blur':newCategoryWindowActive}" class="category-container pt-3">
    <div class="d-flex align-content-center justify-content-between mx-2">
      <h1>Categories</h1>
      <button (click)="openNewCategoryWindow()" class="btn btn-success">+ New Category</button>
    </div>
    <div>
      <div class="my-3">
        <input [(ngModel)]="filterText" (input)="filterCategories()" type="text"
               class="form-control" placeholder="search categories" />
      </div>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Category</th>
          <th class=" text-center" scope="col">Type</th>
          <th class="text-center" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of categoriesCopy; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center" [class.text-decoration-line-through]="!item.isVisible"
              [class.text-decoration-none]="item.isVisible">{{item.name}}</td>
          <td class="text-center" *ngIf="item.typeId === 1">Income</td>
          <td class="text-center" *ngIf="item.typeId === 2">Expense</td>
          <td class="d-flex justify-content-center">
            <div class="d-flex gap-2">
              <button (click)="btn_Edit_Click(item.id!)" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
              </button>
              <button (click)="btn_hideCategory_Click(item)" class="btn btn-outline-primary">
                <ng-container *ngIf="item.isVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="!item.isVisible">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                    <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                  </svg>
                </ng-container>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="newCategory-container" *ngIf="newCategoryWindowActive">
    <h1>{{isAddACategoryActive ? 'Create a new Category' : 'Update Category'}}</h1>
    <div>
      <div *ngIf="isAddACategoryActive" class="d-flex justify-content-center mb-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button (click)="toggleSelectionInNewWindow('income')"
                  class="btn btn-outline-info" [class.active]="isIncomeSelected">
            <input type="radio" name="options" id="option1" autocomplete="off"> Income
          </button>
          <button (click)="toggleSelectionInNewWindow('expense')"
                  class="btn btn-outline-info" [class.active]="isExpenseSelected">
            <input type="radio" name="options" id="option2" autocomplete="off"> Expense
          </button>
        </div>
      </div>
      <div *ngIf="isEditACategoryActive">
        <p>{{selectedCategory?.typeId === 1 ? 'Income' : 'Expense'}}</p>
      </div>
      <form class="d-flex flex-column gap-3" [formGroup]="categoryForm">
        <app-input-component [control]="title" name="title" type="text" placeholder="title"  ></app-input-component>
        <button (click)="addNewCategory()" [disabled]="categoryForm.invalid"
                class="btn btn-success" type="submit">Submit</button>
        <button (click)="newCategoryWindowActive = false" class="btn btn-outline-success" type="button">Cancel</button>
      </form>
    </div>
  </div>
</div>
