<div class="row">
  <div *ngFor="let item of transactions" class="col-12">
    <div class="history-box analytics-card card p-3 w-75 mb-3">
      <div class="d-flex flex-column align-items-center gap-2">
        <div class="d-flex flex-row align-items-center gap-3">
          <h6 style="border-radius: 20px; padding: 10px; background-color: #f1a9c2">
            {{ item.title }}
          </h6>
          <h6 class="fw-semibold" [ngClass]="{'text-success': item.transactionType === type.income, 'text-danger': item.transactionType === type.expense}">
            {{ item.transactionType === type.income ? '+' : '-' }}${{ item.amount }}
          </h6>
        </div>
        <div class="d-flex align-items-center gap-2">
          <svg class="calendarIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"/>
          </svg>
          <p class="mb-0">{{ item.date | date:'yyyy-MM-dd' }}</p>
        </div>
      </div>
      <div class="d-flex flex-column gap-2 mt-3">
        <div class="d-flex gap-2 align-items-center">
          <svg class="calendarIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/>
          </svg>
          <p class="mb-0">{{ item.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
