.profile-img{
  width: 20%;
  border-radius: 40px;
}

.navbar {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.navbar-toggler{
  border: none;
}

.transaction-logo{
  width: 8%;
}

.nav-item{
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-item a{
  color: black;
  font-weight: lighter;
}

.mobile-nav {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  padding: 15px;
  /*height: 65px;*/
  display: flex;
  width: 20rem;
  border-radius: 20px;
  justify-content: space-around;
}

.links{
  text-decoration: none;
  font-weight: bold;
}

.nav-container{
  z-index: 20;
}


/*@media screen and (min-width: 600px) {*/
/*  .mobile-nav {*/
/*    display: none;*/
/*  }*/
/*}*/
