<div class="d-flex justify-content-center align-content-center mt-5">
  <div class="income-container">
    <div class="text-center">
      <h2>{{formTitle}}</h2>
    </div>
    <form [formGroup] ="transactionForm">
      <div class="mb-3">
        <app-input-component [readonly] = true name="title" type = "text" [control]="title"
                             placeholder = "title"></app-input-component>
      </div>
      <div class="d-flex justify-content-center">
        <div class="mb-3 d-flex gap-3">
          <div>
            <app-input-component [readonly] = true name="amount" [control]="amount" type="number"
                                 placeholder="amount"></app-input-component>
          </div>
          <div class="d-flex gap-3 align-content-center">
            <select [formControl]="category" style="background-color: #efefef"
                    class="form-control" name="category" id="category">
              <ng-container *ngIf="selectedIncome?.transactionType === type.income; else expenseOptions">
                <option [value]="0" [selected]="selectedIncome?.category === 0">Salary</option>
                <option [value]="1" [selected]="selectedIncome?.category === 1">Freelancing</option>
                <option [value]="2" [selected]="selectedIncome?.category === 2">Investments</option>
                <option [value]="3" [selected]="selectedIncome?.category === 3">Stocks</option>
                <option [value]="4" [selected]="selectedIncome?.category === 4">Bitcoin</option>
                <option [value]="5" [selected]="selectedIncome?.category === 5">Bank-transfer</option>
                <option [value]="6" [selected]="selectedIncome?.category === 6">Youtube</option>
                <option [value]="7" [selected]="selectedIncome?.category === 7">Other</option>
              </ng-container>
              <ng-template #expenseOptions>
                <option [value]="8" [selected]="selectedIncome?.category === 8">Education</option>
                <option [value]="9" [selected]="selectedIncome?.category === 9">Groceries</option>
                <option [value]="10" [selected]="selectedIncome?.category === 10">Health</option>
                <option [value]="11" [selected]="selectedIncome?.category === 11">Subscriptions</option>
                <option [value]="12" [selected]="selectedIncome?.category === 12">Takeaways</option>
                <option [value]="13" [selected]="selectedIncome?.category === 13">Clothing</option>
                <option [value]="14" [selected]="selectedIncome?.category === 14">Travelling</option>
                <option [value]="15" [selected]="selectedIncome?.category === 15">Other</option>
              </ng-template>
            </select>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <app-input-component [readonly]="true" type="date" name="date" [control]="date"></app-input-component>
      </div>
      <div class="mb-3">
        <app-camera [isDeletePageActive]="true" [alreadyUploadedImg]="selectedIncome?.photo"></app-camera>
      </div>
      <div class="mb-3">
        <textarea [readonly]="true" [formControl]="comments" placeholder="Comments..." class="form-control"
                  name="txtComment" id="txtComment" cols="30" rows="2"></textarea>
      </div>
      <div class="d-flex justify-content-center gap-5">
        <button (click)="btnCancel_Click()" type="button" class="btn btn-outline-primary">Cancel</button>
        <button (click)="btnDelete_Click()" [disabled]="transactionForm.invalid" type="submit"
                class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>

