<input [formControl]="control" [readonly]="readonly" [placeholder]="placeholder" [type]="type" class="form-control flex-grow-1"/>
<ng-container *ngIf="control.touched && control.dirty">
  <p class="text-danger" *ngIf="control.errors?.['required']">
    {{name}} is required.
  </p>
  <p class="text-danger" *ngIf="control.errors?.['min']">
    {{name}} should be greater than 1.
  </p>
  <p class="text-danger" *ngIf="control.errors?.['minlength']">
    {{name}} should be at least 1 character long.
  </p>
  <p class="text-danger" *ngIf="control.errors?.['maxlength']">
    {{name}} should be less than 15 characters long.
  </p>
</ng-container>

