.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
}

.carousel-item {
  transition: transform 0.3s ease;
}

.analytics-box{
  z-index: 5;
  padding: 10px;
  border-radius: 10px;
  background-color: #efecec;
  height: 30rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev, .carousel-control-next{
  height: fit-content;
  margin: auto 0;
}
