<h1 class="heading-summary text-center">Financial Summary</h1>
<div class="container summary-container">
  <div class="col">

    <div class="col">
      <div class="analytics-card income-card card w-75 text-white bg-success">
        <div class="card-body">
          <h5 class="card-title">Total Income</h5>
          <p class="card-text">${{totalIncome}}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="analytics-card expense-card card w-75 text-white bg-danger">
        <div class="card-body">
          <h5 class="card-title">Total Expense</h5>
          <p class="card-text">${{totalExpense}}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="analytics-card balance-card card w-75 text-white bg-primary">
        <div class="card-body">
          <h5 class="card-title">Total Balance</h5>
          <p class="card-text">${{totalBalance}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
