.income-container{
  padding: 20px;
  background-color: #fbd8e4;
  border-radius: 20px;
}

.incomeList-Container{
  padding: 20px;
  border-radius: 10px;
}

/* Media query for smaller screens */
@media screen and (min-width: 700px) {
  .income-container {
    width: 700px;
  }
}

.summary-container{
  height: 380px;
}

